<div class="main-w3layouts wrapper">
  <h1>Thêm Khách Hàng Mới</h1>
  <div class="main-agileinfo">
    <div class="agileits-top" >
      <form [formGroup]="frRegiteNhanVien"  (ngSubmit)="createKhachHang()" >
        <input class="text"  type="text" name="id" placeholder="ID Khách Hàng" required="" formControlName="id">
        <div *ngFor=" let validation of validation_messages.id">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('id').hasError(validation.type) && frRegiteNhanVien.controls.id?.touched">
            {{validation.message}}
          </div>
        </div>
        <input class="text" type="text" name="idvitri" placeholder="ID Loại Khách" required="" formControlName="idloaikhach">
        <div *ngFor=" let validation of validation_messages.idloaikhach">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('idloaikhach').hasError(validation.type) && frRegiteNhanVien.controls.idloaikhach?.touched">
            {{validation.message}}
          </div>
        </div>
        <input class="text" type="text" name="hoten" placeholder="Họ Tên" required="" formControlName="hoten">
        <div *ngFor=" let validation of validation_messages.hoten">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('hoten').hasError(validation.type) && frRegiteNhanVien.controls.hoten?.touched">
            {{validation.message}}
          </div>
        </div>
        <input class="text" type="email" name="email" placeholder="Email" required="" formControlName="email">
        <div *ngFor=" let validation of validation_messages.email">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('email').hasError(validation.type) && frRegiteNhanVien.controls.email?.touched">
            {{validation.message}}
          </div>
        </div>
        Ngày Sinh:
        <input class="text" type="date"  name="ngaysinh" placeholder=" Ngày Sinh" required="" formControlName="ngaysinh">
        <div *ngFor=" let validation of validation_messages.ngaysinh">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('ngaysinh').hasError(validation.type) && frRegiteNhanVien.controls.ngaysinh?.touched  && frRegiteNhanVien.controls.ngaysinh?.dirty">
            {{validation.message}}
          </div>
        </div>
        <input class="text" type="text" name="sodt" placeholder="Số điện thoại" required="" formControlName="sodt">
        <div *ngFor=" let validation of validation_messages.sodt">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('sodt').hasError(validation.type) && frRegiteNhanVien.controls.sodt?.touched ">
            {{validation.message}}
          </div>
        </div>
        <input class="text" type="text"  name="cmnd" placeholder="Số CMND" required="" formControlName="socmnd">
        <div *ngFor=" let validation of validation_messages.socmnd">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('socmnd').hasError(validation.type) && frRegiteNhanVien.controls.socmnd?.touched">
            {{validation.message}}
          </div>
        </div>
        <input class="text" type="text" name="diachi" placeholder="Địa chỉ" required="" formControlName="diachi">
        <div *ngFor=" let validation of validation_messages.diachi">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('diachi').hasError(validation.type) && frRegiteNhanVien.controls.diachi?.touched">
            {{validation.message}}
          </div>
        </div>
        <input type="submit" value="Thêm Ngay">
      </form>
    </div>
  </div>

</div>

