<div class="container">
  <p>Danh Sách Nhân Viên</p>
  <table class="table table-striped">
    <thead>
    <tr><th>ID Nhân Viên</th><th>Họ Tên</th><th>Ngày Sinh</th><th>Email</th><th>SDT</th><th>Lương</th><th>Địa Chỉ</th><th>Action</th></tr>
    </thead>
    <tbody>
    <tr *ngFor="let cus of listNhanVien" >
      <td>{{cus.id}} </td>
      <td>{{cus.hoten}}</td>
      <td>{{cus.ngaysinh}}</td>
      <td>{{cus.email}}</td>
      <td>{{cus.sodt}}</td>
      <td>{{cus.luong}}</td>
      <td>{{cus.diachi}}</td>
      <td>
        <input type="button" value="Xóa" (click)="gotoUpdate(cus.id)">
        <input type="button" value="Sửa" (click)="gotoDetail(cus.id)"></td>
    </tr>
    </tbody>
  </table>
</div>
