
  <ul class='menu' style="font-family:arial">
    <li>
      <a href='/'><img alt='home' src='http://1.bp.blogspot.com/-wqzYVSTa638/UQrc7C0UP3I/AAAAAAAABgU/TgbAOmzXLAs/s1600/home.gif' style='padding:0px;' /></a>
    </li>
    <li> <a routerLink="app-NhanVien" class="link">Nhân viên</a>
      <ul>
        <li><a class='trigger' routerLink="them-NhanVien">Thêm NV</a></li>
      </ul>
    </li>
    <li> <a routerLink="app-KhachHang" class="link">Khách Hàng</a>
      <ul>
        <li><a class='trigger' routerLink="create-KhachHang">Thêm KH</a></li>
      </ul>
    </li>
    <li><a class='trigger' routerLink="app-DichVu">Dịch Vụ</a>
      <ul>
        <li><a class='trigger' routerLink="create-DichVu">Thêm DV</a></li>
      </ul>
    </li>
    <li><a class='trigger' routerLink="app-HopDong">Hợp Đồng</a>
      <ul>
        <li><a class='trigger' routerLink="create-HopDong">Thêm HD</a></li>
      </ul>
    </li>
    <li><a class='trigger' routerLink="app-Booking">Booking</a></li>
  </ul>
<!-- end .menu -->
<router-outlet></router-outlet>
