<div class="main-w3layouts wrapper">
  <h1>Thông tin Nhân Viên</h1>
  <div class="main-agileinfo">
    <div class="agileits-top" >
      <form [formGroup]="frRegiteNhanVien" (ngSubmit)=" updateNhanVien()" >
        Mã Nhân Viên:
        <input class="text"  type="text" name="id" [(ngModel)]="nhanVien.id" required="" formControlName="id">
        <div *ngFor=" let validation of validation_messages.id">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('id').hasError(validation.type) && frRegiteNhanVien.controls.id?.touched">
            {{validation.message}}
          </div>
        </div>
        ID Bộ Phận:
        <input class="text" type="text" name="idbophan" [(ngModel)]="nhanVien.idbophan" required="" formControlName="idbophan">
        <div *ngFor=" let validation of validation_messages.idbophan">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('idbophan').hasError(validation.type) && frRegiteNhanVien.controls.idbophan?.touched">
            {{validation.message}}
          </div>
        </div>
        ID Vị Trí:
        <input class="text" type="text" name="idvitri" [(ngModel)]="nhanVien.idvitri"  required="" formControlName="idvitri">
        <div *ngFor=" let validation of validation_messages.idvitri">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('idvitri').hasError(validation.type) && frRegiteNhanVien.controls.idvitri?.touched">
            {{validation.message}}
          </div>
        </div>
        ID Trinh Độ:
        <input class="text" type="text" name="idtrinhdo" [(ngModel)]="nhanVien.idtrinhdo" required="" formControlName="idtrinhdo">
        <div *ngFor=" let validation of validation_messages.idtrinhdo">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('idtrinhdo').hasError(validation.type) && frRegiteNhanVien.controls.idtrinhdo?.touched">
            {{validation.message}}
          </div>
        </div>
        Ho Tên Nhân Viên:
        <input class="text" type="text" name="hoten" [(ngModel)]="nhanVien.hoten" required="" formControlName="hoten">
        <div *ngFor=" let validation of validation_messages.hoten">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('hoten').hasError(validation.type) && frRegiteNhanVien.controls.hoten?.touched">
            {{validation.message}}
          </div>
        </div>
        Email:
        <input class="text" type="email" name="email"  [(ngModel)]="nhanVien.email" required="" formControlName="email">
        <div *ngFor=" let validation of validation_messages.email">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('email').hasError(validation.type) && frRegiteNhanVien.controls.email?.touched">
            {{validation.message}}
          </div>
        </div>
        Ngày Sinh:
        <input class="text" type="date"  name="ngaysinh" [(ngModel)]="nhanVien.ngaysinh" required="" formControlName="ngaysinh">
        <div *ngFor=" let validation of validation_messages.ngaysinh">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('ngaysinh').hasError(validation.type) && frRegiteNhanVien.controls.ngaysinh?.touched  && frRegiteNhanVien.controls.ngaysinh?.dirty">
            {{validation.message}}
          </div>
        </div>
        Số Điện Thoại:
        <input class="text" type="text" name="sodt" [(ngModel)]="nhanVien.sodt"  required="" formControlName="sodt">
        <div *ngFor=" let validation of validation_messages.sodt">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('sodt').hasError(validation.type) && frRegiteNhanVien.controls.soDT?.dirty ">
            {{validation.message}}
          </div>
        </div>
        Lương:
        <input class="text" type="text" name="luong" [(ngModel)]="nhanVien.luong" required="" formControlName="luong">
        <div *ngFor=" let validation of validation_messages.luong">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('luong').hasError(validation.type) && frRegiteNhanVien.controls.luong?.touched">
            {{validation.message}}
          </div>
        </div>
        Số CMND
        <input class="text" type="text"  name="cmnd" [(ngModel)]="nhanVien.socmnd"  required="" formControlName="socmnd">
        <div *ngFor=" let validation of validation_messages.socmnd">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('socmnd').hasError(validation.type) && frRegiteNhanVien.controls.socmnd?.touched">
            {{validation.message}}
          </div>
        </div>
        Địa Chỉ:
        <input class="text" type="text" name="diachi" [(ngModel)]="nhanVien.diachi" required="" formControlName="diachi">
        <div *ngFor=" let validation of validation_messages.diachi">
          <div class="col alert text-danger" role="alert" *ngIf=" frRegiteNhanVien.get('diachi').hasError(validation.type) && frRegiteNhanVien.controls.diachi?.touched">
            {{validation.message}}
          </div>
        </div>
        <input type="submit" value="Update">
      </form>
    </div>
  </div>

</div>
