<h2>Calculator</h2>

<div>
  <input class="num" type="number" [value]="number1" (change)="updateNumber1($event.target.value)" (keypress)="keypress($event)">
  <select [value]="operator" (change)="updateOperator($event.target.value)">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="X">x</option>
      <option value="/">/</option>
  </select>
  <input class="num" type="number" [value]="number2" (change)="updateNumber2($event.target.value)" (keypress)="keypress($event)">
</div>
<div>
  <input type="submit" value="Tinh" (click)="action()" />
</div>
<p class="output">
{{result}}
</p>
